<script type=module src=a/page.js></script>
<link rel=stylesheet href=a/page.css></link>
<a href=index.html>Index</a>

<p>Background should be blue.</p>
<p>Expecting 2 js files below.</p>
<pre id=log></pre>
